<html>
  <head>

  </head>
<body>
  <div style="text-align:left;">
    {{{body}}}
  </div>
</body>
  <footer>
    <div style="text-align:left; margin-top: 3em;">
      <h4 style="color: #f49c20;">© 2023 Foundation Twenty-nine. All rights reserved <a href="mailto:info@foundation29.org">info@foundation29.org</a></h4>
    </div>
  </footer>
</html>
