<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Danke für die Registrierung.</h4>
<p>Klicken Sie auf den folgenden Link, um das Konto zu aktivieren: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Konto aktivieren</a></p>
