<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Bedankt voor het registreren!</h4>
<p>Klik op de volgende link om je account te activeren: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Activeer account</a></p>
