<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Obrigado pelo registro.</h4>
<p>Clique no seguinte link para ativar a conta: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Ativar conta</a></p>
