<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Danke für die Registrierung.</h4>
<p>Klicken Sie auf den folgenden Link, um das Konto zu aktivieren: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Konto aktivieren</a></p>
<br>
<p>Für die Anmeldung ist es erforderlich, dass Sie die Anwendung installiert haben: Authy. Greifen Sie auf den Link zu, um es auf Ihrem Gerät zu installieren</p>
   <p><a href="https://play.google.com/store/apps/details?id=com.authy.authy"> Authy für android </a></p>
   <p><a href="https://apps.apple.com/us/app/authy/id494168017"> Authy für IoS </a></p>
<br>
<p>Um sie zu verwenden, folgen Sie den untenstehenden Schritten:</p>
  <p> 1. Geben Sie Ihre Telefonnummer ein </p>
  <p> 2. Fordern Sie den Registrierungscode per SMS an  </p>
