<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Obrigado pelo registro.</h4>
<p>Clique no seguinte link para ativar a conta: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Ativar conta</a></p>
<br>
<p>Para o login será necessário que você tenha a aplicação instalada: Authy. Acesse o link para instalá-lo em seu dispositivo </p>
   <p><a href="https://play.google.com/store/apps/details?id=com.authy.authy"> Authy para android </a></p>
   <p><a href="https://apps.apple.com/us/app/authy/id494168017"> Authy para IoS </a></p>
<br>
<p>Para utilizá-lo, siga os passos abaixo:</p>
  <p> 1. Introduza o seu número de telefone </p>
  <p> 2. Solicitar o código de registro via SMS </p>
