<img src="{{urlImg}}" alt="Health 29" style="max-width: 100px; height: auto;">
</br>
<h1>Confirm your account deletion at Health29</h1>
<div class="code-box">{{key}}</div>
<p>Enter this code in the confirmation field to proceed with account deletion. This action cannot be undone. If you didn't request to delete your account, you can safely ignore this email.</p>
<div class="footer-text">
    <p>If you did not request this action or have any questions, please contact our support team at support@foundation29.org.</p>
</div>