<img src="{{urlImg}}" alt="Health 29" style="max-width: 100px; height: auto;">
</br>
<h1>Confirma la eliminación de tu cuenta en Health29</h1>
<div class="code-box">{{key}}</div>
<p>Introduce este código en el campo de confirmación para proceder con la eliminación de la cuenta. Esta acción no se puede deshacer. Si no solicitaste eliminar tu cuenta, puedes ignorar este correo electrónico de forma segura.</p>
<div class="footer-text">
    <p>Si no solicitaste esta acción o tienes alguna pregunta, por favor contacta a nuestro equipo de soporte en support@foundation29.org.</p>
</div>