<img src="{{urlImg}}" alt="Health 29" style="max-width: 100px; height: auto;">
</br>
<h1>Bevestig de verwijdering van uw account bij Health29</h1>
<div class="code-box">{{key}}</div>
<p>Voer deze code in het bevestigingsveld in om door te gaan met het verwijderen van uw account. Deze actie kan niet ongedaan worden gemaakt. Als u niet hebt gevraagd om uw account te verwijderen, kunt u deze e-mail veilig negeren.</p>
<div class="footer-text">
    <p>Als u deze actie niet hebt aangevraagd of als u vragen hebt, neem dan contact op met ons ondersteuningsteam via support@foundation29.org.</p>
</div>