 <img src="{{urlImg}}" alt="Health 29" style="max-width: 100px; height: auto;">
</br>
<h1>Inicia sesión en Health29</h1>
<div class="code-box">{{key}}</div>
<p>Copia y pega el código de verificación temporal para iniciar sesión. Si no intentaste iniciar sesión, puedes ignorar este correo electrónico de forma segura.</p>
<div class="footer-text">
    <p>Si no solicitaste este código o tienes alguna pregunta, por favor contacta a nuestro equipo de soporte en support@foundation29.org.</p>
</div>